/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #fffcef;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

a {
  text-decoration: none;
  font-size: 25px;
}

ul {
  list-style: none;
}

li {
  font-size: 30px;
}

header nav {
  position: absolute;
  right: 0px;
  margin-top: 50px;
}

header nav li:nth-child(6) {
  margin-left: 70px;
}

header nav a {
  color: #ffffff;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  text-align: left;
  line-height: 650px;
  font-size: 60px;
  position: relative;
  right: 50px;
}

.top-menu {
  float: right;
}

.top-menu li {
  margin: 0px 20px;
}

.icon {
  background-color: #fffcef;
  color: #0e83dd;
}

h3 {
  font-size: 100px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  width: 40%;
  text-align: left;
  /* float: right; */
  position: absolute;
  right: 0px;
}

.vewbox1,
.vewbox2,
.vewbox3,
.vewbox4 {
  width: 75%;
  margin: auto;
}

.vewbox1 .bannerbox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  bottom: 250px;
  left: 450px;
}

.rectext {
  color: #76c7c2;
  border-bottom: solid 8px #76c7c2;
}

.banner {
  color: #0079b0;
  font-size: 60px;
  display: block;
}

.inside {
  width: 1920px;
  margin: auto;
  height: 1500px;
}

.insidebox {
  width: 90%;
  margin: auto;
}

.insidetxt1,
.insidetxt2 {
  width: 60%;
  text-align: left;
}

.insidetxt1 a,
.insidetxt2 a {
  background-color: #fffcef;
  line-height: 30px;
}

.titletxt {
  background-color: #76c7c2;
  color: #fffcef;
  font-size: 70px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

.infomation {
  background-image: url(img/45370695.jpg);
  background-size: cover;
  height: 700px;
  color: #ffffff;
}

h5 {
  font-size: 100px;
  font-family: Brush Script MT, Brush Script Std, cursive;
  padding: 20px 40px;
  text-align: center;
}

table {
  text-align: left;
  margin: auto;
  line-height: 23px;
  border-collapse: separate;
  border-spacing: 0px 20px;
}

td {
  padding: 10px 20px;
}

td:last-child {
  border-left: solid 3px #ffffff;
}

span {
  display: block;
  margin-bottom: 10px;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  margin: auto;
  padding: 100px 0px;
}

.compbox {
  width: 45%;
  text-align: left;
  padding-left: 350px;
}

.map {
  width: 65%;
}

h4 {
  font-size: 30px;
}

.recommend {
  padding-top: 80px;
  height: 1500px;
  width: 1920px;
  margin: auto;
}

.vewbox2 .resort {
  position: relative;
  /* right: 250px; */
  left: 900px;
  bottom: 200px;
}

.vewbox2 .bannerbox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  bottom: 450px;
  left: 700px;
}

.entrance {
  position: relative;
  bottom: 300px;
}

.vewbox3 .bannerbox {
  position: relative;
  bottom: 550px;
  left: 450px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.vewbox4 .bannerbox {
  position: relative;
  left: 700px;
  bottom: 750px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.lunch {
  position: relative;
  left: 900px;
  bottom: 500px;
}

.insidetxt1 {
  position: relative;
  left: 700px;
  bottom: 200px;
  background-color: #fffcef;
  width: 1040px;
}

.insideimg {
  position: relative;
  bottom: 400px;
  left: 600px;
  background-color: #fffcef;
  z-index: 10;
}

.insidetxt2 {
  position: relative;
  top: 200px;
  z-index: 20;
  background: #fffcef;
  width: 1040px;
}

.compbox {
  color: #0e83dd;
}

.compbox h4 {
  font-size: 80px;
  font-family: Brush Script MT, Brush Script Std, cursive;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  margin: auto;
  margin-bottom: 80px;
}

.under-menu {
  padding-left: 325px;
}

.under-menu li {
  margin: 0px 25px;
}

.under-menu li a {
  color: #76c7c2;
}

.sigh {
  margin-left: 500px;
  color: #0e83dd;
}

.practice a {
  display: block;
}

.contact {
  margin-top: 15px;
  margin-bottom: 30px;
  line-height: 40px;
  font-size: 20px;
}

.phonevtn {
  width: 400px;
  height: 80px;
  background-color: #76c7c2;
}

.phonevtn a {
  line-height: 80px;
  text-align: center;
  display: block;
  color: #ffffff;
}

.contactvtn {
  margin-top: 20px;
  width: 400px;
  height: 80px;
  border: solid 2px #76c7c2;
}

.contactvtn a {
  line-height: 80px;
  text-align: center;
  display: block;
}
/*# sourceMappingURL=style.css.map */